.headerContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: var(--mainLinearGradient); */

  overflow: hidden;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.headerContainer::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: 1;
  background: url(../../assets/work/giphy.gif);
  background-position: center;
  transform: rotate(180deg);
}
.headerBox {
  z-index: 2;
}
.logoContainer {
  z-index: 2;
}
.headerBox a {
  display: flex;

  width: max-content;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 50px;
  padding: 5px;
  border-radius: 20px;

  color: rgba(255, 255, 255, 0.9);
  text-shadow: 3px 5px 14px #ffffff;
  cursor: pointer;
  animation: var(--scaleAniimation);
}
.headerBox h2 {
  margin-left: 20px;
}
